
@keyframes moveInLeft {
    /* where animations starts */
    0% {
      opacity: 0;
      transform: translateX(-10rem);
    }
  
    80% {
      transform: translateX(1rem);
    }
  
    /* where it finishes */
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  
  @keyframes moveInRight {
    /* where animations starts */
    0% {
      opacity: 0;
      transform: translateX(10rem);
    }
  
    80% {
      transform: translateX(-1rem);
    }
  
    /* where it finishes */
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  
  @keyframes moveInBottom {
    /* where animations starts */
    0% {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    /* where it finishes */
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }